.bill {

    &__in {
        padding: 80px 0;
    }

    &__title {
        text-align: left;
        font-weight: 700;
        font-size: 50px;
        line-height: 140%;
        margin-bottom: 50px;
        span {
            color: var(--orange);
        }
    }

    &__body {
        display: flex;
        align-items: flex-start;
        margin-left: -25px;
        margin-right: -25px;
    }

    &__item {
        min-height: 710px;
        width: calc((100% / 3) - 50px);
        margin: 0 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #F3F3F3;
        padding: 30px 0;

        &_top {
            padding: 0 50px;

            &_name {
                margin-bottom: 5px;
                font-size: 36px;
                line-height: 140%;
                font-weight: 700;

                span {

                }
            }
            &_price {   
                font-size: 27px;
                color: #6B6B6B;

            }
        }

        &_body {
            padding: 50px;
            font-size: 16px;    
            color: #fff;
            background-color: var(--orange);

        }

        &_action {
            display: flex;  
            align-items: center;
            justify-content: center;
            padding: 0 50px;


            &_btn {
                padding: 11px 50px;
                color: var(--orange);
                border: 2px solid var(--orange);
                @include def-anim;
                border-radius: 5px;

                &:hover {
                    background-color: var(--orange);
                    color: #fff;
                }
            }
        }

        &:nth-child(1) {
            margin-top: 50px;
            .bill__item_top {
                &_name {
                    span {
                        color: var(--orange);
                    }
                }
            }
        }
        &:nth-child(2) {
            .bill__item_top {
                &_name {
                    span {
                        color: var(--purp);
                    }
                }
            }
            .bill__item_body {
                background-color: var(--purp);
            }

            .bill__item_action {
                &_btn {
                    border-color: var(--purp);
                    color: var(--purp);

                    &:hover {
                        background-color: var(--purp);
                        color: #fff;
                    }
                }
            }
        }
        &:nth-child(3) {
            margin-top: 50px;
            .bill__item_top {
                &_name {
                    span {
                        color: var(--orange);
                    }
                }
            }
        }
    }
}

@media (max-width: 1075px) {
    .bill {

        &__title {
            font-size: 35px;
        }


        &__body {
            margin-left: -10px;
            margin-right: -10px;
            justify-content: center;
            flex-wrap: wrap;
        }

        &__item {
            margin-top: 0 !important;
            margin: 0 10px;
            width: calc((100% / 2) - 20px);
            margin-bottom: 20px;

            &_top {
                padding: 0 20px;
            }

            &_body {
                padding: 20px;
            }
            &_action {
                padding: 0 20px;
            }
        }
    }
}

@media (max-width: 768px) {

    .bill {

        &__item {
            width: calc(100% - 20px);
            min-height: unset;

            &_body {
                background-color: unset !important;
                color: var(--black);
            }
            &_top {
                padding-bottom: 20px;
            }
            &_action {
                padding-top: 20px;
            }
        }
    }
}